@import './vars.scss';

.pomodoro-app {
  background-color: $baseColor;
  height: 100vh;
  width: 100vw;
  padding-top: 1rem;
}

#title {
  text-align: center;
  font-size: 40px;
  color: $mediumAccent;
  font-family: $lato;
  margin-bottom: 0px;
}

#counter-control-wrapper {
  display: flex;
  justify-content: center;

  @media screen and (max-width: $screenBreak) {
    justify-content: space-around;
  }
}